[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt = no

[ req_distinguished_name ]
countryName                 = DE
stateOrProvinceName         = Bavaria
localityName               = Munich
organizationName           = ACI Worldwide Germany
commonName                 = localhost

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
IP.1	= 127.0.0.1
IP.2	= ::1
DNS.1   = localhost
DNS.2	= db
