*
!.m2
!.m2/settings.xml
!.ssh/authorized_keys
!.ssh/known_hosts
!.ssh/config
!.config
!.config/**
!.subversion
!.subversion/**
!.gnupg
!.gnupg/**
!.vimrc
!.bashrc
!.profile
!.bash_logout
!.gitignore
!.profile
!.bashrc*
!.bashrc.d
!.bashrc.d/**
!.nvm
!.nvm/**
!.subversion
!.subversion/**
.subversion/auth/**
.nvm/versions
!.gitconfig
!.gitmodules
!.mrtrust
!.quiltrc
